//colors
$main-accent: #0EC261;
$blue: #007BFF;
$text: #3D5170;
$light-gray: #E9ECEF;
$red: #CB3656;
$form-text: #495057;
$auth-bgc: #F5F6F8;
$form-shadow: #979797;
$form-input-color: #BECAD6;
$sidebar-icon-disabled: #CACEDB;
$sidebar-item-active: #FBFBFB;
$header-text: #767F9D;
$user-text: #5A6169;
$footer-text: #818EA3;

//fonts
@font-face {
	font-family: 'Helvetica';
	src: url('./fonts/Helvetica.ttf');
	src: local('☺'), url('./fonts/Helvetica.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

// mixins
@mixin from($pixels) {
	@media screen and (max-width: $pixels+'px') {
		@content;
	}
}

//media queries
$mobile: 767;
$tablet: 1023;
$laptop: 1439;