.ant-btn.ant-dropdown-trigger {
  border-radius: 4px;
  min-width: 125px;
  height: 29px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 1.1rem;
  color: #868E96;
  box-shadow: none;
  border: .5px solid #BECAD6;
  text-align: left;
}

.dropdown-btn {
  background-color: #fff;
  width: 100%;
}